body
{
	background-image: url("../img/fade.png");
	background-repeat: repeat-x;
	background-position: top center;
	background-color: #FFFFEE;
}

h4
{
	display: inline;
}

header
{
	text-align: right;
	padding-right: 20px;
}

img
{
	width: 100%;
}

form
{
	margin-top: 1em;
}


.form-inline
{
	margin-top: 7px;
}

#welcome
{
	display: inline-block;
	padding-right: 10px;
}

#sign-out
{
	margin-top: 7px;
	display: none;
}

#star
{
	font-size: 20px;
	margin-bottom: 14px;
	float: left;
}

.product
{
	margin-top: 7px;
}

.product p
{
	font-size: 20px;
}

#averageRating
{
	font-size: 18px;
	display: inline;
}

.pastReviews
{
	background-color: #f0e0d6;
	border: 1px solid #D9BFB7;
	border-left: none;
	border-top: none;
	margin: 10px;
	padding-top: 10px;
	color: #800000;
}

.name
{
	color: #117743;
	font-weight: bold;
}

.greentxt
{
	color: #789922;
}

.thumb, .delete
{
	text-align: right;
	display: inline-block;
	float: right;
	font-size: 20px;
}

#rh4
{
	margin-left: 10px;
}

.i-thumb, .i-trash
{
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px
}

.reviewedRate
{
	display: inline;
}

.help
{
	float: left;
}

@media screen and (max-width: 768px) {
	header input
	{
		margin-left: 12px;
	}
}