header
{
	text-align: right;
	padding-right: 20px;
}

img
{
	width: 100%;
}

form
{
	margin-top: 1em;
}

.form-inline
{
	margin-top: 7px;
}

#sign-out
{
	margin-top: 7px;
	display: none;
}

#star
{
	font-size: 20px;
}

.product
{
	border: black 2px solid;
	margin-top: 7px;
}

.product p
{
	font-size: 20px;
}

#averageRating
{
	font-size: 18px;
	display: inline;
}

.pastReviews
{
	background-color: lightgrey;
	margin: 10px;
	border-radius: 5px;
	padding-top: 10px;
}

.thumb
{
	text-align: right;
	display: inline-block;
	float: right;
	font-size: 20px;
}

h4
{
	display: inline;
	margin-left: 10px;
}

.i-thumb
{
	cursor: pointer;
	margin-right: 10px;
	margin-left: 10px;
}

.reviewedRate
{
	display: inline;
}

@media screen and (max-width: 768px) {
	header input
	{
		margin-left: 12px;
	}
}